.text>h1 {
    font-size: 54px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding-top: 80px;

}

.image {
    margin: auto;
}

.para{
    font-family: 'Arvo', serif;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 25px;
}