.bg-transparent {
    background-color: transparent !important;

}

.pad {
    padding: 45px 0 0 0;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container {
    display: flex;
    justify-content: center;
}