/* corosel.page.css */

.carousel-container {
    position: relative;
  }
  
  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .caption-content {
    transform: rotate(40deg); /* Rotate the text by 40 degrees */
  }
  
  .caption-content h4 {
    margin: 0;
    padding: 0;
    font-size: 24px;
  }
  
  .line {
    height: 2px;
    width: 100px;
    background-color: black;
    margin: 5px 0;
  }
  
  .heart-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .heart {
    color: red;
    font-size: 20px;
    margin: 0 5px;
  }
  