/* hero.module.css */
.heroContainer {
    width: 100%;
    height: 100vh;
    background: url("../../Assets/slide-image-1920-d.jpg") no-repeat center/cover;
    position: relative;
    z-index: 1;
}

.heroContainer::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    font-family: "Alex Brush", cursive;
    font-size: 35px;
    font-weight: 500;

    @media (min-width: 768px) {
        font-size: 50px;
    }
}